/**
*@author:sjl
*@date:2017-09-13
*@desc:文档页面和相册页面样式
**/

.page-form {
    position: relative;
    width: 100%;
    height: 100%;
}

.page-form .left-wrap {
    width: 800px;
    height: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    position: relative;
}

.page-form .top-img {
    height: 75px;
    margin: 10px 14px 0 14px;
}

.page-form .right-bg {
    width: 280px;
}

.content-wrap {
    height: calc(100vh - 542px);
    overflow: auto;
    min-height: 370px;
}

.photo-list li {
    float: left;
    margin: 10px 15px;
    width: 140px;
    height: 168px;
}

.photo-list .photo-item {
    width: 100%;
    height: 120px;
    text-align: center;
}

.photo-list .photo-item img {
    width: 100%;
    max-height: 120px;
}

.photo-list .photo-content {
    height: 50px;
    width: 100%;
}

.photo-list .photo-content .title {
    margin-top: 5px;
    line-height: 17px;
    font-size: 12px;
    color: #333333;
    text-align: center;
    letter-spacing: 1.2px;
}

.photo-list .photo-content .info {
    width: 100%;
    height: 28px;
    margin-top: 11px;
    position: relative;
}

.address-info {
    display: block;
}

.photo-list .photo-content .count {
    width: 40px;
    height: 20px;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    text-align: center;
}

.content-wrap .fa-del {
    width: 15px;
    height: 15px;
    position: relative;
    right: 0px;
    top: 1px;
    background-image: url('../../images/40.png');
    cursor: pointer;
}

.no {
    width: 50px;
    text-align: center;
}

.print-count {
    width: 95px;
}

.ipt-b {
    display: inline-block;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    width: 58px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: relative;
}

input.ipt-b.print-range {
    width: 30px;
}

.text-info {
    width: 120px;
    color: #ff6e3f;
    overflow: hidden;
    cursor: pointer;
}

.text-info:hover {
    font-weight: 600;
}

input.ipt-b.print-range:first-child::after {
    content: '-';
    position: absolute;
    width: 5px;
    height: 1px;
    background: #CDCDCD;
    top: 10px;
    right: 0
}

.single-sided span.actived,
.what-color span.actived {
    border: 1px solid #FF6E3F;
    color: #FF6E3F;
}

.single,
.single-color {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.double,
.double-color {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.single-sided span,
.what-color span {
    height: 20px;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    font-size: 12px;
    border: 1px solid #CDCDCD;
    cursor: pointer;
}

.single-sided span {
    width: 30px;
}

.what-color span {
    width: 40px;
}

.success-text {
    font-size: 14px;
    color: #666666;
    line-height: 28px;
}

.btn-upload {
    opacity: 0.95;
    background-image: linear-gradient(-180deg, #FF9D2F 0%, #FF434E 100%);
    box-shadow: 0 1px 3px 0 rgba(139, 139, 139, 0.50);
    border-radius: 22px;
    border: none;
    color: #fff;
}


/****相册弹出层样式****/

.btn-wrap {
    text-align: center;
    padding: 10px 0 30px;
    border-bottom: 1px solid #E5E5E5;
}

.btn-wrap a {
    display: inline-block;
    width: 180px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    margin: 0 15px;
    border-radius: 2px;
    color: #FF6E3F;
}

.btn-wrap a.btn-choose {
    background: #FF9731;
    color: #fff;
}

.layphoto-list {
    padding: 30px 0;
    margin-left: -15px;
}

.layphoto-list li {
    display: block;
    float: left;
    width: 171px;
    height: 164px;
    margin-left: 15px;
    margin-bottom: 25px;
}

.layphoto-list li .media-img {
    width: 171px;
    height: 131px;
    margin-bottom: 7px;
    border-radius: 4px;
}

.layphoto-list li .media-img img {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
    -moz-object-fit: cover;
}

.media-action {
    width: 100%;
    height: 24px;
    line-height: 24px;
    position: relative;
}

.fa-btn {
    position: relative;
    display: block;
    float: left;
    width: 48px;
    color: #0091FF;
    font-size: 12px;
    padding-left: 20px;
}

.fa-btn::before {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 3px;
    width: 14px;
    height: 16px;
    background-position: 0 0;
    background-image: url('../../images/bb-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-btn-del::before {
    background-position: -15px 0;
}

.media-action .proess {
    background: #DDDDDD;
    border-radius: 8px;
    width: 60px;
    height: 16px;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    display: block;
    position: absolute;
    top: 3px;
    right: 2px;
}

.media-action .ok {
    background: #FF6E3F;
}

.img-edit-wrap {
    height: 415px;
}

.edit-left {
    width: 550px;
    padding: 10px;
    background: #e5e5e5;
}

.edit-left img {
    max-width: 550px;
    width: 100%;
    max-height: 415px;
}

.edit-right {
    width: 220px;
    height: 100%;
    position: relative;
}

.edit-right .img {
    position: absolute;
    width: 100%;
    object-fit: cover;
}

.edit-right .img img {
    border-radius: 4px;
}

.edit-right .img1 {
    width: 202px;
    height: 135px;
    top: 10px;
    right: 10px;
}

.edit-right .img2 {
    width: 52px;
    height: 35px;
    top: 155px;
    right: 123px;
}

.edit-right .img3 {
    width: 103px;
    height: 69px;
    top: 155px;
    right: 10px;
}

.edit-right .img1 img {
    max-height: 135px;
    max-width: 202px;
    width: 202px;
}

.edit-right .img2 img {
    max-width: 52px;
    max-height: 35px;
    width: 202px;
}

.edit-right .img3 img {
    max-width: 103px;
    max-height: 69px;
    width: 202px;
}

.img-edit-btn {
    text-align: center;
    margin-top: 30px;
    padding-left: 10px;
}

.img-edit-btn a {
    display: inline-block;
    width: 160px;
    height: 42px;
    opacity: 0.95;
    box-shadow: 0 1px 2px 2px rgba(255, 110, 63, 0.5);
    border-radius: 24px;
    line-height: 42px;
    margin-right: 10px;
    font-size: 18px;
    color: #FF6E3F;
}

.img-edit-btn .fa-btn-submit {
    color: #fff;
    background-image: linear-gradient(-180deg, #FF9D2F 0%, #FF434E 100%);
}

.img-edit-btn span {
    display: block;
    width: 40px;
    height: 42px;
    float: left;
    margin-right: 30px;
    background-image: url('../../images/rotate.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    cursor: pointer;
}

.img-edit-btn .icon-suoxiao {
    background-position: -41px 0;
}

.img-edit-btn .icon-fangda {
    background-position: -82px 0;
}

.img-edit-btn span:last-child {
    margin-right: 0;
}


/***确认订单弹出层样式***/

.order-info {
    width: 100%;
    padding: 20px;
    height: 220px;
}

.label-grounp {
    margin-bottom: 15px;
}

.label-grounp .label-control,
.label-grounp .text-control {
    float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}

.label-grounp .label-control {
    width: 50%;
    text-align: right;
}

.label-grounp .text-control {
    width: 50%;
    padding-left: 10px;
}