/*====== Table ========*/

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table>thead {
    border-bottom: 1px solid #E3E3E6;
}

.table td,
.table th {
    line-height: 22px;
    font-size: 14px;
}

.table th {
    padding: 9px 10px;
    color: #999;
    text-align: left;
    background: #F8F8F8;
    font-weight: normal;
}

.table td {
    padding: 10px 10px;
    color: #333;
}

.table tr>th:first-child,
.table tr>td:first-child {
    padding-left: 10px;
}

.table tr>th:last-child,
.table tr>td:last-child {
    padding-right: 10px;
}

.table-bordered {
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
}

.table-bordered td,
.table-bordered th {
    border-left: 1px solid #E9E9E9;
}

.table-hover tbody tr:hover>td,
.table-hover tbody .table tr:hover>th,
.table .table-hover tbody tr:hover>th,
.table-hover tbody .table-bordered tr:hover>th,
.table-bordered .table-hover tbody tr:hover>th {
    background-color: #f5f5f5;
}

.table-zebra tbody>tr:nth-child(even)>td,
.table-zebra .table tbody>tr:nth-child(even)>th,
.table .table-zebra tbody>tr:nth-child(even)>th,
.table-zebra .table-bordered tbody>tr:nth-child(even)>th,
.table-bordered .table-zebra tbody>tr:nth-child(even)>th {
    background: #F8F8F8;
}

.table-view {
    position: relative;
}

.table-view .table-view-cell {
    width: 100%;
    position: relative;
    padding: 15px;
    overflow: hidden;
}

.table-view .table-view-cell:hover {
    background: #FAFAFA;
}

.table-view .table-view-cell:hover .table-view-operation {
    opacity: 1;
}

.table-view .table-view-cell .table-view-operation {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    opacity: 0;
    color: #999;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

.table-view .table-view-cell .table-view-operation i {
    display: block;
}

.table-view .table-view-cell .media-object {
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.table-view .table-view-cell .media-object img {
    max-width: 100%;
}

.table-view .table-view-cell .media-body .media-tit {
    line-height: 19px;
}

.table-view .table-view-cell .media-body .media-tit a {
    color: #000;
    font-size: 16px;
    margin-right: 5px;
}

.table-view .table-view-cell .media-body .media-sum {
    display: block;
    line-height: 18px;
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
}

.table-view .table-view-cell .media-body .media-sum a {
    color: #333;
}

.table-view .table-view-cell .media-body .media-footer {
    margin: 10px 0;
}

.table-view .table-view-cell .media-body .media-footer a {
    display: inline-block;
    position: relative;
}

.table-view .table-view-cell .media-body .media-footer img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
}

.table-view .table-view-cell .media-body .media-footer span {
    color: #999;
    font-size: 12px;
    vertical-align: middle;
}

.table-view .table-view-cell .media-body .media-footer span i {
    font-weight: 700;
    color: #666;
    display: inline-block;
    margin-left: 3px;
}

.table-view .table-view-cell .media-body .media-footer .media-name {
    color: #000;
    font-weight: 700;
    margin: 0 5px;
}

.table-view .table-view-cell .media-body .media-footer .media-span {
    margin: 0 10px;
    color: #E4E4E4;
}

.table-view-one .table-view-cell {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.table-view-one .table-view-cell .media-sum {
    height: 38px;
}